* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.article {
    display: flex;
    flex: 0 0 100px;
    background-color: grey;
    height: 200px;
    margin: 10px;
}
